<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="Resource.Listeners" />
	</listeners>

	<test name="Test" thread-count="5">
		<classes>
			<class name="GrpIDPkg.E2E.Test4_JenkinParams" />
			<class name="GrpIDPkg.E2E.Test1_Google" />
			<class name="GrpIDPkg.E2E.Test2_DataProvAnnotations" />
			<class name="GrpIDPkg.E2E.Test3_Assertions" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
